@font-face {
    font-family: PP-Fuji-Light;
    src: url(../Font-Assets/PPFuji-Light.ttf);
}

@font-face {
    font-family: PP-Fuji-Regular;
    src: url(../Font-Assets/PPFuji-Regular.ttf);
}

@font-face {
    font-family: Messina;
    src: url(../Font-Assets/MessinaSansCompleteVariableUpright_TEST-FONT.ttf);
}


* {
    padding: 0;
    margin: 0;
}

:root {
    --main-colour: #24120A;
    --BG-colour: #FBF8F0;
    --BG-accent-colour: #EFEDE7;
    --accent-colour-01: #353F58;
    --accent-colour-02: #3B6C77;
    --accent-colour-03: #FCC554;
    --accent-colour-04: #88613C;
}

body {
    background-color: var(--BG-colour);
    padding-left: 0px;
    padding-right: 0px;
}

h1 {
    font-family: Messina;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 636;
    color: var(--accent-colour-01);
    font-variation-settings: "wdth" 1 ;
}

h2 {
    font-family: PP-Fuji-Light;
    font-size: 48px;
    color: var(--accent-colour-01);
    font-weight: lighter;
}

h3 {
    font-family: PP-Fuji-Regular;
    font-size: 24px;
}

h4 {   
    font-family: PP-Fuji-Light;
    font-size: 20px;
    color: var(--main-colour);
    font-weight: lighter;
}

p {
    font-family: PP-Fuji-Light;
    font-size: 18px;
    font-weight: lighter;
}



/*HEADER*/

.logo {
    font-family: PP-Fuji-Light;
    font-size: 28px;
    color: var(--main-colour);
    margin-right: 120px;
    font-weight: lighter;
}

header{
    display: flex;
    justify-content: flex-start;
    padding-top: 24px;
    align-items: baseline;
    padding-bottom: 24px;
    padding-left: 72px;
    padding-right: 72px;
    background-color: var(--BG-colour);
    position: sticky;
    top: 0;
    z-index: 1000;

}


li {
    display: inline-block;
    margin-right: 48px;
    transition: color 0.3s ease; /* Fügt eine sanfte Übergangsanimation hinzu */
}

li:hover {
    color: var(--accent-colour-02); /* Ändert die Textfarbe beim Überfahren mit der Maus */
}

a{ text-decoration: none;
color: var(--main-colour);
transition: color 0.3s ease; /* Fügt eine sanfte Übergangsanimation hinzu */
}

a:hover{color: var(--accent-colour-02)}


/*STAGE*/

.image {
    grid-column: span 7;
}

.image img {
    width: 100%;
}

.title {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title-text {
    font-size: 3.5vw;

}

.title-container {
    display: flex;
    align-items: center;
    gap:12px;
}


.linie {
    border-top: 4px solid var(--accent-colour-01);
    border-bottom: 4px solid var(--accent-colour-01);
    height: 40%;
    flex-grow: 1;
}

.stage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    padding-left: 72px;
    padding-right: 72px;
}

/*PRODUCTS*/

.product-wrapper{
    background-color: var(--BG-accent-colour);
}

.products-section {
    background-color: var(--BG-accent-colour);
    margin-top: 64px;
    padding: 0;
    width: 100%;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.title-product{
    grid-column: 1/ span 3;
}

/*CARD 01*/

.card-01 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    background-color: var(--accent-colour-02);
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-self: baseline;
}

.title-card-01{
    color: var(--BG-colour);
    padding-left: 24px;
    padding-right: 24px;



}

.description-card-01{
    display: flex;
    justify-content: space-between;
    color: var(--BG-colour);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 8px;

}

.line-card-01 {
    color: var(--BG-colour);
flex-grow: 1; 
   border-bottom: 2px solid;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.img-card-01 {
    max-height: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-self: center;


}

/*CARD 02*/

.card-02 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    background-color: var(--accent-colour-03);
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-self: baseline;

}

.title-card-02{
    color: var(--accent-colour-01);
    padding-left: 24px;
    padding-right: 24px;



}

.description-card-02{
    display: flex;
    justify-content: space-between;
    color: var(--accent-colour-01);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 8px;

}

.line-card-02 {
    color: var(--accent-colour-01);
flex-grow: 1; 
   border-bottom: 2px solid;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.img-card-02 {
    max-height: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-self: center;


}

/*CARD 03*/

.card-03 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    background-color: var(--accent-colour-04);
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-self: baseline;

}

.title-card-03{
    color: var(--BG-colour);
    padding-left: 24px;
    padding-right: 24px;



}

.description-card-03{
    display: flex;
    justify-content: space-between;
    color: var(--BG-colour);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 8px;

}

.line-card-03 {
    color: var(--BG-colour);
flex-grow: 1; 
   border-bottom: 2px solid;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.img-card-03 {
    max-height: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-self: center;


}

/*CARD 04*/

.card-04 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    background-color: var(--accent-colour-03);
    grid-column: 4 / span 3;
    display: flex;
    flex-direction: column;
    align-self: baseline;

}

.title-card-04{
    color: var(--accent-colour-01);
    padding-left: 24px;
    padding-right: 24px;



}

.description-card-04{
    display: flex;
    justify-content: space-between;
    color: var(--accent-colour-01);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 8px;

}

.line-card-04 {
    color: var(--accent-colour-01);
flex-grow: 1; 
   border-bottom: 2px solid;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.img-card-04 {
    max-height: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-self: center;
}


/*CARD 05*/

.card-05 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    background-color: var(--accent-colour-01);
    grid-column: 7 / span 3;
    display: flex;
    flex-direction: column;
    align-self: baseline;

}

.title-card-05{
    color: var(--BG-accent-colour);
    padding-left: 24px;
    padding-right: 24px;



}

.description-card-05{
    display: flex;
    justify-content: space-between;
    color: var(--BG-accent-colour);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 8px;

}

.line-card-05 {
    color: var(--BG-accent-colour);
flex-grow: 1; 
   border-bottom: 2px solid;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.img-card-05 {
    max-height: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-self: center;
}


/*CARD 06*/

.card-06 {
    width: 100%;
    height: auto;
    border-radius: 0px;
    background-color: var(--accent-colour-02);
    grid-column: 10 / span 3;
    display: flex;
    flex-direction: column;
    align-self: baseline;

}

.title-card-06{
    color: var(--BG-accent-colour);
    padding-left: 24px;
    padding-right: 24px;



}

.description-card-06{
    display: flex;
    justify-content: space-between;
    color: var(--BG-accent-colour);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 8px;

}

.line-card-06 {
    color: var(--BG-accent-colour);
flex-grow: 1; 
   border-bottom: 2px solid;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 12px;
    margin-top: 16px;
}

.img-card-06 {
    max-height: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    align-self: center;
}



/*GALLERY*/

.gallery{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 56px;
    padding-bottom: 56px;
}

.gallery-titel{
    grid-column: span 5;
}

.gallery-content-01{
    grid-column: 1 / span 5;
    grid-row: 2 / span 3;
    overflow: hidden;
    display: flex;
    justify-content: center;


}


.gallery-img-01{
    height: 100%;
    object-fit: contain;
}


.gallery-content-02{
    grid-column: 6 / span 3;
    grid-row: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-img-02{
    object-fit: cover;
    height: auto;
    width: auto;
}

.gallery-content-03{
    grid-column: 6 / span 3;
    grid-row: 3 span;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-img-03{
    object-fit: cover;
    height: auto;
    width: auto;
}

.gallery-content-04{
    grid-column: 9 / span 4;
    grid-row: 2 / span 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-img-04{
    object-fit: cover;
    height: auto;
    width: auto;
}

img{
    width: 100%;
    height: 100%;
}



/*FOOTER*/
.footer
{
    background-color: var(--main-colour);
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-titel {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title-text {
    font-size: 3.5vw;

}

.footer-title-container {
    display: flex;
    align-items: center;
    gap:12px;
}


.footer-linie {
    border-top: 4px solid var(--BG-accent-colour);
    border-bottom: 4px solid var(--BG-accent-colour);
    height: 40%;
    flex-grow: 1;
}




